@font-face {
    font-family: "Kush";
    src: url(/fonts/Kush.ttf);
}

/* NAKOV TOUGHT SECTION */

.nakov-reaction {
    height: 440px;
    position: absolute;
    background-color: grey;
    margin-top: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-family: Calibri;
    font-weight: bold;
}

.header-reaction {
    width: 900px;
    margin: 0px auto;
    border-top: grey;
}

.header-reaction > p {
    height: 50px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0px;
    background-color: #eeac2d;
    border: 1px solid black;
    border-top: none;
    line-height: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.website-image {
    position: relative;
    width: 450px;
    height: 350px;
    border: 1px solid black ;
    border-radius: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    float: left;
}
.nakov-image-taught {
    float: right;
}

.nakov-image-taught > span {
    font-size: 20px;
    background-color: #93857d;
    color: white;
    letter-spacing: 1px;
    opacity: 0.9;
    position: absolute;
    width: 235px;
    height: 90px;
    right: 230px;
    top: 80px;
    padding: 10px;
    border-radius: 15px;
}

.nakov-image {
    float: right;
    width: 480px;
    height: 350px;
    margin-left: 45px;
    margin-bottom: 10px;
    margin-right: 10px;
    border: 1px solid black ;
    border-radius: 20px;
}

/* OTHER PICK UP'S SECTION */

.some-other-picks {
    width: 999px;
    height: 300px;
    position: absolute;
    top: 504px;
    background-color: #efad2d;
}

.header-other-picks {
    width: 480px;
    height: 50px;
    margin: 0px auto;
    text-align: center;
    text-transform: uppercase;
    background-color: grey;
    border: 1px solid black;
    border-top-color: grey;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: bold;
}

